[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "echogram"]
	path = echogram
	url = https://github.com/hvillalo/echogram
[submodule "satin"]
	path = satin
	url = https://github.com/hvillalo/satin
